<div class='box'>
    <button type="button" (click)="zoomin()">Zoom In</button>
        <button type="button" (click)="zoomout()">Zoom Out</button>
    <div class="container1">
        <div class="img">
            <img src="assets/images/grid_image.jpg" alt="alt_attribute" width="300" height="400" usemap="#shapemap" id="img" />
        </div>

        <div class="img">
            <img src="assets/images/grid_image.jpg" alt="alt_attribute" width="300" height="400" usemap="#shapemap" id="img1"/>
        </div>

        <div class="img">
            <img src="assets/images/grid_image.jpg" alt="alt_attribute" width="300" height="400" usemap="#shapemap" id="img2"/>
        </div>

    </div>
</div>